@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: ghostwhite;
}

.heading {
    text-transform: uppercase;
    font-size: 40px;
    margin: 30px 0;
    z-index: 1;
    text-align: center;
}
.country-table-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table_info{
    display: flex;
    align-items: center;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

table{
    width: 500px;
    height: 500px;
    table-layout: fixed;
}

.pagination {
    display: flex;
    flex-direction: row;
}

ul{
    list-style-type: none;
}

li{
    margin-left: 3px;  
    margin-right: 3px;  
}

tbody tr:hover {
    background-color: #ffff99;
  }

